.character-btn {
  padding: 0;
  margin: 1rem;
  overflow: hidden;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: box-shadow 300ms ease-out;
  border: 5px solid white;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.25);
  }

  &.is-selected {
    border: 5px solid #F5A489;
  }

  @media (max-width: 1024px) {
    margin: 0;
    width: 150px;
  }
  
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 350ms ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}