.details-container {
  min-width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0 1rem;

  @media (max-width: 1024px) {
    flex-direction: row;
    padding: 0;

    section {
      width: 48%;
    }
  }

  @media (max-width: 760px) {
    flex-direction: column;

    section {
      width: 100%;
    }
  }

  .gender-chart {
    display: flex;
    align-items: center;
  }

  .image-wrapper {
    position: relative;
    padding-bottom: 56.2%;
    border: 5px solid white;


    @media (max-width: 1024px) {
      max-width: 100%;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  ul {
    list-style: none;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    padding-left: 5px;
  }
}