.spinner {
	width: 6rem;
  height: 6rem;
  border-radius: 100%;
  border: 2px solid transparent;
  border-color: #F5A489 #F8F6F3 transparent transparent;
  margin: 20px auto;
  animation: spinner 650ms linear infinite;
}

@keyframes spinner {
	0% {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
	0% {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}