@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
}

.error-message {
  width: 100vw;
  margin-top: 10rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
}

.main-container {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}