header {
  box-shadow: 0 10px 50px #e2e2e2;
  padding: .5rem 0;
  margin-bottom: 1rem;

  .logo {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    background-image: url('../../assets/logo.gif');
    background-size: cover;
    background-position: center;
  }

  ul {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;

    @media (max-width: 760px) {
      font-size: 1rem;
    }
  }
}