.characters-list-container {
  overflow: auto;
  
  .characters-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    @media (max-width: 1024px) {
      flex-wrap: nowrap;
      min-width: calc(100% * 4);
    }

    li {
      flex: 20%;
      max-width: 20%;
    }
  }
}
